/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

.body{}

.container{
  height: 100vh;
  border: 1px solid black; /* debug */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel{
  border: 1px solid black; /* debug */
  position: relative;
}

img{
  height: 600px;
  display: none;
}

.button{
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position:absolute;
  left: 50%;
  right:50%;
  background-color: rgba(255, 255, 255, 0.488);
  transform: translateX(-50%);
}

.button:hover{
  background-color: white;
}

.button_top{
  top: 20px;
}

.button_down{
  bottom: 20px;
}