/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

body{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 30px;
}

.container{
  height: 100vh;
  /*border: 1px solid black;  debug */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel{
  /* border: 1px solid black; debug */
  position: relative;
}

img{
  height: 600px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.button{
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position:absolute;
  left: 50%;
  right:50%;
  background-color: rgba(255, 255, 255, 0.488);
  transform: translateX(-50%);
}

.button:hover{
  background-color: white;
}

.button_top{
  top: 20px;
}

.button_down{
  bottom: 20px;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

/* .col-1-5{
  min-width: calc( 100% / 5 );
}

.col-4-5{
  min-width: calc( 100% / 5 * 4);
} */

.flex{
  display: flex;
  flex-wrap: wrap;
}

.tc-thumbnails{
  position: relative;
}

.tc-thumbnails img{
  width: 200px;
  /* height: calc(600px / 5); */
  height: 120px;
}

.thumb-light{
  filter: none;
}

.thumb-dark{
  filter: brightness(20%);
}

